html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Helvetiva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(12, 58, 101);
  min-height: 100vh;
}
